*{
margin: 0px;
padding: 0px;
}
body{
	background: black;
}
.bootom_border{
	border-bottom: 2px solid white;
}
.main{
	font-size: 22px;

}
.head h1{
	color: white;
}
.head h1 b{
	color: red;
}
.head h1 b:hover{
	color: white;
	font-size: 25px;
}
.head h1:hover{
	color: red;
	font-weight: bold;
}